.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.wheelBackground {
    position: absolute;
    z-index: -1;
}

.wheelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: min-content;
}

.arrow {
    position: absolute;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}

.buttonWrapper {
    margin-top: 40px;
}

.card {
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftCard {
    background-color: #ffa667;
    left: -50px;
}

.rightCard {
    background-color: #8bd7dc;
    right: -50px;
}
