.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.wheelWrapper {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsWrapper {
    height: 100px;
    display: flex;
    gap: 20px;
}

.leftCard {
    background-color: #ffa667;
}

.rightCard {
    background-color: #8bd7dc;
}

.sliderWrapper {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) and (min-height: 550px) {
    .wheelWrapper {
        width: 400px;
        height: 400px;
    }

    .cardsWrapper {
        position: absolute;
        bottom: 20%;
    }

    .sliderWrapper {
        height: 100px;
        width: 160px;
    }
}

@media (min-width: 992px) and (min-height: 650px) {
    .wheelWrapper {
        width: 500px;
        height: 500px;
    }

    .cardsWrapper {
        position: absolute;
        bottom: 20%;
    }

    .sliderWrapper {
        height: 100px;
        width: 180px;
    }
}
