.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.wheelBackground {
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
}

.wheelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
}

.arrow {
    position: absolute;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}

.buttonWrapper {
    margin-top: 40px;
}

.card {
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftCard {
    background-color: #ffa667;
    left: -50px;
}

.rightCard {
    background-color: #8bd7dc;
    right: -50px;
}

@media (min-width: 576px) and (min-height: 550px) {
    .wheelWrapper {
        width: 400px;
        height: 400px;
    }

    .card {
        bottom: 50px;
    }

    .leftCard {
        left: -80px;
    }
    
    .rightCard {
        right: -80px;
    }
}

@media (min-width: 992px) and (min-height: 650px) {
    .wheelWrapper {
        width: 500px;
        height: 500px;
    }

    .card {
        bottom: 70px;
    }

    .leftCard {
        left: -50px;
    }
    
    .rightCard {
        right: -50px;
    }
}