html {
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    background-image: url('client/images/background.svg');
    font-family: Comic Sans MS;
    background-color: #202258;
}

body {
    margin: 0;
}
