.wrapper {
    height: 170px;
    width: fit-content;
    padding: 30px;

    color: #fff;
    background-color: #111137;
    box-shadow: 0 0 10px 0 black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    inset: 0;
    margin: auto;
}

.wrapper h2 {
    margin: 0;
    text-align: center;
}
