.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.button {
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    filter: brightness(0.8);
}