.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerWrapper {
    width: 100%;
    box-sizing: border-box;
}

.cardsWrapper {
    height: 100px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.leftCard {
    background-color: #ffa667;
}

.rightCard {
    background-color: #8bd7dc;
}

.sliderWrapper {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    height: 50px;
}

.controls {
    min-height: 50vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
