.card {
    width: 150px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px 0 black;
}

@media (min-width: 576px) and (min-height: 550px) {
    .card {
        width: 180px;
    }
}

@media (min-width: 992px) and (min-height: 650px) {
    .card {
        width: 200px;
    }
}