.card {
    width: 200px;
    max-width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-word;
    box-shadow: 0 0 5px 0 black;
}
